{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<div class="row">
    <div class="col-md-12 mt-2">
        <h2>About us</h2><hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea ipsa ut veniam adipisci soluta nihil quos debitis aut! Labore explicabo molestias alias quia sit similique temporibus, deserunt consequatur iure magni!</p>
    </div>

    <div class="col-md-6 mt-3">
        <h2>Vision</h2><hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere quis assumenda vel dolores non a molestias commodi quod esse fugiat? Harum ex dignissimos nam veniam ea! Sint consequatur tempora unde.</p>
    </div>
        <div class="col-md-6 mt-3">
            <h2>Mission</h2><hr>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere quis assumenda vel dolores non a molestias commodi quod esse fugiat? Harum ex dignissimos nam veniam ea! Sint consequatur tempora unde.</p>
        </div>

    <h2 class="mt-5">Statistics</h2><hr>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-danger text-center">10000+</h1>
        <h3 class=" text-center">Happy Customers</h3>
    </div>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-danger text-center">20000+</h1>
        <h3 class=" text-center">Ordered delivered</h3>
    </div>
    <div class="col-md-4 my-5 shadow p-5">
        <h1 class="text-danger text-center">600+</h1>
        <h3 class=" text-center">products</h3>
    </div>
</div>
{% endblock 'main' %}