{% load static %}
<!--Footer start-->
<div class="row p-2">
    <div class="col-md-4 bg-secondary-subtle p-3">
        <h5>Address</h5><hr>2nd Floor landmark,Building,<br>Near Fc road Pune
        <br>Maharashtra<br>
        Contact-7448267098.
    </div>
    <div class="col-md-4 bg-secondary-subtle p-3">
      <h5>Quick Link</h5><hr>
        <a href="/products" class="anchor"><strong>Home</strong></a><br>
        <a href="/contact" class="anchor"><strong>contact</strong></a><br>
        <a href="/about" class="anchor"><strong>About</strong></a><br>
    </div>
    <div class="col-md-4 bg-secondary-subtle p-3">
      <h5>Connect us</h5><hr>
      <h4 class="social"><a href="https//www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></h4>
      <h4 class="social"><a href="https//www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></h4>
      <h4 class="social"><a href="https//www.twitter.com/" target="_blank"><i class="bi bi-twitter"></i></h4>
      <h4 class="social"><a href="https//www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></h4>
    </div>
</div>




<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>